.block{
  display: flex;
  gap: 4rem;
  padding: 2rem;
  margin-left: 17.5rem;
}

.login-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 18.75rem;
    min-height: 18.75rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #B1C29E;
    align-items: center;
  }
  
  .login-header{
    size: 0.25rem;
    color: #659287;
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .login-form{
    max-width: 14rem;
  }

  .login-form p{
    font-family: monospace;
    text-align: left;
    color:#659287;
    background-color: transparent;
  }

  .login-form input{
    width: 13.75rem;
    margin-right: 2.5rem;
    border-radius: 10px;
    background-color: white;
  }

  .login-button{
    border-radius:0.5rem;
    width:13.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  button:hover{
    box-shadow: 0 0 5px #B1C29E;
  }