.me-container form{
    padding-bottom: 3rem;
    margin-left: 27rem;
    margin-bottom: 10rem;
    align-items: center;
    background-color:#659287;
    width: 25rem;
}

.myInfoHead {
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    color:#659287;
}

.me-user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.me-user-form, label{
    font-family:monospace;
    font-size: 1rem;
    width: 300px;
    padding: 0.625rem;
    color: white;
}

.me-user-form, input{
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    border: 1px solid #659287;
    padding: 8px;
    font-size: 0.75rem;
    width: 17.5rem;
    font-family: monospace;
    margin-left: 1rem;
}

.meInput{
    color:#659287;
    font-size: 0.9rem;
    padding: 0.75rem;
}

input:focus {
    box-shadow: 0 4px 12px #B1C29E;
    outline: none;
}

textarea{
    border-radius: 0.5rem;
    border:#659287;
    width: 17.5rem;
    height:5rem;
    color:#659287;
    padding: 0.75rem;
    font-size: 0.035rem;
}

select{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: monospace;
    color:#659287;
    border: 1px solid #659287;
    size: 0.75rem;
    width: 17.5rem;
}

select:focus {
    box-shadow: 0 4px 12px #B1C29E;
    outline: none;
}

textarea:focus{
    box-shadow: 0 4px 12px #B1C29E;
    outline: none;
}

.me-button{
    margin-top: 2rem;
    border-radius:0.5rem;
    background-color: #B1C29E;
    width: 17.5rem;
    height: 3rem;
    font-size: 1rem;
}

.me-edit-button{
    background-color:transparent;
    border: 1px solid #659287;
    width: 19rem;
    border-radius:0.5rem;
    color: #659287
}

.me-button:hover{
    box-shadow: 0 0 5px #B1C29E;
}

.me-edit.button:hover{
    box-shadow: 0 0 5px #B1C29E;
}

.preview{
    width: 15rem;
    background-color: white;
    color:#659287;
    padding: 3rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    margin-left: 27rem;
    width: 25rem;
    border: 1px solid #659287;
}

.colleges-button{
    margin-top: 2rem;
    border-radius: 0.5rem;
    width: 19rem;
    height: 4rem;
}

.preview p{
    background: transparent;
    color:#659287;
    font-family: monospace;
}




  