@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Montserrat:wght@600&display=swap');

h2{
    font-family: Playfair Display, sans-serif;
}
.custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: #A1D6B2;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #E8B86D;
  }