#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  padding: 10px;
  background-color: #659287
}

.block{
  display: flex;
  gap: 4rem;
  padding: 2rem;
  align-items: center;
}

.login-block{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px #B1C29E;
  align-items: center;
}

.login-header{
  size: 0.5rem;
  color: #659287;
  margin-bottom: 0.05rem;
}

.login-form{
  padding: 10px;
  max-width: 200px;
}
.login-form, p{
  font-family: monospace;
  text-align: left;
  color:#659287;

}
.login-form, input{
  padding: 10px;
  width: 220px;
  margin-right: 40px;
  border-radius: 10px;
}

.form-field input{
  border: 1px solid #659287;
}

button{
  width: 240px;
  font-family: 'monaco', monospace;
  background-color: #659287;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1rem;
  color: white;
  border:#659287;
}

button:hover{
  box-shadow: 2px 2px #B1C29E;
}

